.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--branco);
    background: url("/Img/Menu.svg") no-repeat;
    background-position: 1em;
  }
  